@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
        background-color: #000000;
        color: white;
}

#portfolio-display p {
        font-family: "Montserrat";
        text-align: center;
        font-size: 36px;
        padding-top: 30px;
}

.autocomplete-list {
        list-style: none;
        padding: unset;
        margin: unset;
        width: 100%;
}

.autocomplete-list li {
        border: 1px solid #e9e9e9;
        border-top: unset;
}

.autocomplete-list li :hover {
        border: 1px solid #f3f3f3;

}

.autocomplete-list button {
        border: unset;
        background: none;
        display: block;
        width: 100%;
        text-align: left;
        padding: 0.5em;
}

#current-portfolio h3 {
        font-family: "Montserrat";
        color: red;
        text-align: center;
        font-size: 36px;
        padding-top: 30px;
}

/* user attributes for the navbar */
#navbar {
        overflow: hidden;
        display: grid;
        grid-template-columns: 10% 90%;
        font-family: "Josefin Sans", sans-serif;
        box-decoration-break: clone;
        height: 10vh;
}

#navbar a {
        cursor: pointer;
}

.dropDown {
        display: inline-block;
        cursor: pointer;
}

.dropDown a {
        display: block;
        color: black;
        text-decoration: none;
}

.dropDown .dropContent {
        margin-top: 0%;
        display: none;
        position: absolute;
        background-color: rgb(0, 0, 0);
        color: rgb(255, 250, 250);
        min-width: 100px;
        box-shadow: 2px 2px 5px rgb(0, 0, 0);
        padding: 1vh 1vw;
        z-index: 1000;
        text-align: center;

}

.dropContent a {
        padding: 1vh;
        color: white;
}

#portfolio:hover .dropContent {
        display: block;
        text-align: center;
}

#portfoliosDropDown {
        margin-top: -25px;
}

#dropDownProfile {
        margin-left: 3vw;
}

#usertag:hover .dropContent {
        display: block;
        text-align: center;
}

#usertag:hover #username-tag {
        color: #0f7823;
}

#usertag:hover #username-tag {
        color: #0f7823;
}

.dropDown:hover .dropContent {
        display: block;
        text-align: center;
}

.material-symbols-outlined:hover {
        cursor: pointer;
}

.dropItem:hover {
        background-color: rgb(251, 251, 251);
        color: rgb(0, 0, 0);
}

#brand-navbar {
        margin-top: 20%;
        margin-left: 15%;
        margin-right: 5vw;
        font-size: 20px;
}

#brand-navbar:hover {
        color: #0f7823;
}

#options-navbar {
        display: grid;
        grid-template-columns: 8% 8% 84%;
        margin-top: 1%;
        margin-left: 3vw;
}

#portfolioTag {
        margin-top: 18%;
        margin-right: 0%;
        padding: 0%;
        height: 100%;
        display: grid;
        grid-template-columns: 40% auto;
}

#portfolio {
        text-align: left;
        margin-left: 0.2vw;
}

#portfolioIcon {
        text-align: right;
}

#portfolioTag:hover {
        color: #0f7823;
}

#learnTag {
        margin-top: 18%;
        margin-left: 3vw;
        display: grid;
        grid-template-columns: 40% auto;
}

#learn {
        text-align: left;
        margin-left: 0.5vw;
}

#learnIcon {
        text-align: right;
}

#learnTag:hover {
        color: #0f7823;
}

#usertag {
        margin-top: 10%;
        text-align: right;
        margin-right: 0%;
        display: grid;
        grid-template-columns: 80% 20%;

}

/* The a element containing the name of the user. */
#userTag {
        text-align: right;
}

#username {
        margin-left: 70%;
        display: grid;
        grid-template-columns: 50% 50%;
}

#userlogo {
        text-align: left;
}

/* This is for main page so the footer will not be covering anything */
#containerPortfolios{
        min-height: calc(100vh - 23.5vh);

}

/* Jumbotron / wlecome hero */
#jumbotron{
        text-align: center;
        background-color: #0000007a;
        padding: 2%;
        height: 25vh;
}

#jumbotron p{
        font-size: medium;
}

/* footer */
footer {
        /* display: grid;
        grid-template-columns: 70% 30%; */
        height: 12%;
        margin-top: auto;
        width: 100%;
        bottom: 0;
        background-color: #004452;
        text-align: center;
        margin-top: 1vh;
        color: black;
}

footer img {
        cursor: pointer;
}

#optionsFooter {
        color: #07f2c2;
        /* margin-top: 0.5vh; */
        /* text-align: left; */
}

footer a {
        cursor: pointer;

}

footer h3 {
        cursor: pointer;
        color: #07f2c2;
        ;
}

/* #socialMedia {
        text-align: right;
} */

/* Twitter logo footer */
#x-logo {
        width: auto;
        height: 4vh;
}

/* Logo instagram footer */
#instaLogo {
        margin-left: 1vw;
        width: auto;
        height: 5vh;
}

/* Email logo footer */
#emailLogo {
        /* margin-left: 2vw; */
        width: auto;
        height: 8vh;
}

#optionsFooter a {
        margin-left: 1vw;
        font-size: medium;
}

#optionsFooter a:hover {
        color: aliceblue;
}

/* card */
.card {
        margin: 0 auto;
        border-radius: 25px;
        /* background: #07f2c2; */
        height: 70px;
        width: 500px;
}

.card img {
        width: 30px;
}

.card img:hover {
        cursor: pointer;
}

.card-content {
        display: flex;
        justify-content: space-evenly;
}

.stock-name {
        text-align: center;
}

/* Sign up page */
#sign-up {
        width: 50vw;
        height: auto;
        border-radius: 30px;
        margin: 1vw;
        margin-left: 25vw;
}

/* sign up image */
#sign-up-img {
        width: 30vw;
        height: auto;
}

/* inputs */
#signup-email {
        width: 30vw;
        margin-left: 6vw;
}

#signup-firstname {
        width: 30vw;
        margin-left: 6vw;
}

#signup-lastname {
        width: 30vw;
        margin-left: 6vw;
}

#signup-pass1 {
        width: 30vw;
        margin-left: 6vw;
}

#signup-pass2 {
        width: 30vw;
        margin-left: 6vw;
}

/* Login page */
#login {

        width: 50vw;
        height: auto;
        border-radius: 30px;
        margin: 1vw;
        margin-left: 25vw;
        justify-content: center;
        color: #000000;
        background-color: rgb(60, 167, 238);
}

/* image of the login */
#img-login {
        width: 30vw;
        height: auto;
}



/* login inputs */
#login-email {
        width: 30vw;
        margin-left: 6vw;
}

#login-pass1 {
        width: 30vw;
        margin-left: 6vw;
}

/* main page */
/* cards */
.card {
        margin-top: 1vh;
        width: 100%;
}

/* Profile pop up */
#profile-pop-up {
        border-radius: 30px;
        background-color: white;
        width: 40vw;
        height: 40vh;
        text-align: center;
}

#header-popup {
        margin-top: 1vh;
}

#email-popup {
        margin-left: 2.5vw;
}

.input-popup {
        width: 15vw;
}

.input-profile-popup {
        margin-top: 1vh;
}

#button-popup {
        margin-top: 1vh;
}

/* add stocks button */
#add-stock {
        text-align: center;
        cursor: pointer;
}

/* help */
#help-pop-up {
        border-radius: 30px;
        background-color: white;
        width: 40vw;
        height: 40vh;
        text-align: center;
}

/* Plus card to add an asset */
#plusTag {
        font-size: 50px;
}

#plus-icon {
        margin-top: 0.5vh;
        /* margin-left: 14vw; */
        height: 8vh;
        width: 5vw;
}

/* Send feedback pop up */
#sendFeedback {
        width: 40vw;
        background-color: white;
        border-radius: 30px;
        text-align: center;
}

#tInput {
        width: 20vw;
}

#desPopup {
        height: 20vh;
        width: 20vw;
        margin-bottom: 2vh;
        margin-top: 1vh;
        text-align: start;
}

/* add a stock pop-up */
#add-stock-popup {
        width: 30vw;
        background-color: white;
        border-radius: 30px;
        text-align: center;
}

#quantity-popup-input {
        width: 11vw;
}

#price-popup-input {
        width: 8vw;
}

#total-popup-input {
        width: 12vw;
}

#label-cripto-popup {
        margin-left: 1vw;
}

.input-addAsset-popup {
        margin-top: 1vh;
}

#dateAddAsset {
        width: 13vw;
        text-align: center;
}

/* #addAssetLabel{
        margin-left: 5vw;
} */
/* buttons for the pop-up windows */
.btn-popup {
        background-color: #000000;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
}

/* close buttons inside the popup windows */
#close-popup-profile, #close-addStock-popup {
        background-color: red;
}

.container {
        padding: 10px;
        margin: auto;
        height: 600px;
        text-align: center;
        color: white;
        background-color: rgba(0, 0, 0, 0.637);
}

.focus-in-contract {
        -webkit-animation: focus-in-contract 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: focus-in-contract 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.shadow-pop-tr {
        -webkit-animation: shadow-pop-tr 0.4s cubic-bezier(0.470, 0.000, 0.745, 0.715) 2s both;
        animation: shadow-pop-tr 0.4s cubic-bezier(0.470, 0.000, 0.745, 0.715) 2s both;
}

.container h1 {
        font-size: 55px;
}

.container p {
        font-size: 28px;
        margin-bottom: 90px;
}

.container input {
        width: 150px;
        font-size: 32px;
        height: 60px;
        border-radius: 6px;
        margin: 10px;
}

/*Sign Up*/

.form-group {
        margin: 0%;
        text-align: center;
}

.form-group input {
        margin: 0%;
        text-align: center;
        justify-content: center;
}

#learn-content {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        font: "Montserrat";
        text-align: center;
}

#learn-content p {
        font-size: 26px;
}

@media only screen and (max-width: 900px) {
        .focus-in-contract {
                animation: none;
        }

        .container h1 {
                font-size: 38px;
        }

        .container p {
                font-size: 22px;
                margin-bottom: 5px;
        }

        .container input {
                width: 90px;
                height: 50px;
                font-size: 22px;
        }

        /* Navabr css */
        #navbar {
                overflow: hidden;
                display: grid;
                grid-template-rows: 40% 60%;
                grid-template-columns: 100%;
                height: 20vh;
        }

        /* Where the name of the app is */
        #brand-navbar {
                margin-top: 2%;
                width: 100%;
                font-size: 20px;
                margin-left: 0%;
                text-align: center;
        }

        #options-navbar {
                display: grid;
                grid-template-columns: 33% 33% 33%;
                margin-top: 1%;
                text-align: center;
        }

        #portfolioTag {
                margin-top: 10%;
                margin-right: 0%;
        }

        #dropDownProfile {
                margin-left: 8vw;
        }

        #portfoliosDropDown {
                margin-left: 3vw;
        }

        #learnTag {
                margin-top: 10%;
                margin-left: 0%;
        }

        #userlogo {
                height: 0%;
                width: 0%;
        }

        #username {
                display: grid;
                margin-left: 0%;
                grid-template-columns: 100%;
        }

        #usertag {
                margin-top: 10%;
                text-align: center;

        }

        .dropDown .dropContent {
                margin-top: 0vh;
                display: none;
                position: absolute;
                min-width: 100px;
                padding: 1vh 1vw;
        }

        /* login */
        #login {
                width: 100vw;
                height: auto;
                margin: 0%;
                border-radius: 0px;
                margin: 0%;
                justify-content: center;
                text-align: center;

        }

        #formLoginInputs {
                margin-left: 3vw;
        }

        #formLoginInputs form {
                text-align: center;
                justify-content: center;
        }

        #login-form {
                width: 80vw;
                margin-left: 0%;
        }

        #img-login {
                width: 60vw;
                height: auto;
                /* margin-top: 5vh; */
        }



        /* login inputs */
        #login-email {
                width: 60vw;
                margin-left: 10vw;
        }

        #login-pass1 {
                width: 60vw;
                margin-left: 10vw;
        }

        /* sign up page */
        #sign-up {
                width: 100vw;
                height: auto;
                margin: 0%;
        }

        /* sign up image */
        #sign-up-img {
                width: 60vw;
                height: auto;
        }

        /* inputs */
        #signup-email {
                width: 60vw;
                margin-left: 10vw;
        }

        #signup-firstname {
                width: 60vw;
                margin-left: 10vw;
        }

        #signup-lastname {
                width: 60vw;
                margin-left: 10vw;
        }

        #signup-pass1 {
                width: 60vw;
                margin-left: 10vw;
        }

        #signup-pass2 {
                width: 60vw;
                margin-left: 10vw;
        }

        /* plus icon to add stock */
        #plus-icon {
                margin-top: 1vh;
                /* margin-left: 38vw; */
                height: 8vh;
                width: 14vw;
        }

        /* add stock pop-up */
        #add-stock-popup {
                width: 70vw;
        }

        #quantity-popup-input {
                width: 15vw;
        }

        #price-popup-input {
                width: 15vw;
        }

        #total-popup-input {
                width: 15vw;
        }

        #label-cripto-popup {
                margin-left: 1vw;
        }

        .input-addAsset-popup {
                margin-top: 1vh;
        }

        /* Profile pop up */
        #profile-pop-up {
                border-radius: 30px;
                background-color: white;
                width: 80vw;
                height: 40vh;
                text-align: center;
        }

        #header-popup {
                margin-top: 1vh;
        }

        #email-popup {
                margin-left: 8vw;
        }

        .input-popup {
                width: 35vw;
        }

        #password-label-popup {
                margin-left: 2vw;
        }

        /* Send feedback pop up */
        #sendFeedback {
                width: 80vw;
                height: 60vh;
                background-color: white;
                border-radius: 30px;
                text-align: center;
        }

        #containerPortfolios{
                min-height: calc(100vh - 34vh);
        
        }

        footer{
                height: 12vh;
        }

        #tInput {
                width: 50vw;
        }

        #desPopup {
                height: 20vh;
                width: 50vw;
                margin-bottom: 2vh;
                margin-top: 1vh;
                text-align: left;
        }

        #learn-content {
                text-align: justify;
                padding: 10px;
        }

        #learn-content p {
                font-size: 16px;
                font-weight: bold;
        }

        #help-pop-up {
                border-radius: 30px;
                background-color: white;
                width: 80vw;
                height: 50vh;
                text-align: center;
        }

        #help-pop-up h3 {
                text-align: center;
                color: blue;
        }

}




.card-body a {
        text-decoration: none;
}



/**Animations
/* ----------------------------------------------
 * Generated by Animista on 2024-2-26 20:32:51
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation focus-in-contract
 * ----------------------------------------
 */
@-webkit-keyframes focus-in-contract {
        0% {
                letter-spacing: 1em;
                -webkit-filter: blur(12px);
                filter: blur(12px);
                opacity: 0;
        }

        100% {
                -webkit-filter: blur(0px);
                filter: blur(0px);
                opacity: 1;
        }
}

@keyframes focus-in-contract {
        0% {
                letter-spacing: 1em;
                -webkit-filter: blur(12px);
                filter: blur(12px);
                opacity: 0;
        }

        100% {
                -webkit-filter: blur(0px);
                filter: blur(0px);
                opacity: 1;
        }
}

@-webkit-keyframes shadow-pop-tr {
        0% {
                -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
                box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
                -webkit-transform: translateX(0) translateY(0);
                transform: translateX(0) translateY(0);
        }

        100% {
                -webkit-box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
                box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
                -webkit-transform: translateX(-8px) translateY(8px);
                transform: translateX(-8px) translateY(8px);
        }
}

@keyframes shadow-pop-tr {
        0% {
                -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
                box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
                -webkit-transform: translateX(0) translateY(0);
                transform: translateX(0) translateY(0);
        }

        100% {
                -webkit-box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
                box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
                -webkit-transform: translateX(-8px) translateY(8px);
                transform: translateX(-8px) translateY(8px);
        }
}